.column.single-card-container{
  max-width: 150px;
  height: 300px;
  margin: 10px;
  padding: 0;
  margin-bottom: 40px;

  .card-image{
    background-size: 0% 0%;
    display: block;
    width: 150px;
    height: 265px;
    cursor: pointer;
    position: relative;

    .card-retro{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: 100% 100%;
    }

    &:hover{
      background-size: 100% 100%;
      @media (hover: hover) {
        .card-retro{
          display: none;
        }
      }
    }

    &.revealed{
      background-size: 100% 100%;
      .card-retro{
        display: none;
      }
    }


  }

  .card-controls{
    margin-top: 5px;
    button{
      padding: 0px 12px;
    }
  }
}

.column.single-small-card-container{
  max-width: 100px;
  margin: 10px;
  padding: 0;
  .card-image{
    background-size: 100% 100%;
    display: block;
    width: 100px;
    height: 176px;
  }
}

.users-list{
  // background-color: #eee;
  border-radius: 5px;
  padding: 30px;
  margin-top: 30px;
}

#hello-react{
  padding: 20px 0px;
}

.player-hand{
  padding: 0;
  .player-name{
    // background-color: #ddd;
    padding: 3px 0px;
    border-radius: 5px;
    margin-top: 10px;
    h5{
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}

.user-info{
  // background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  h3{
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.logout-btn-container{
  position: absolute;
  top: 4px;
  right: 4px;
}


.preloader{
  display: none;
}
